<footer>
  <div class="bottom">
    <div class="sec right"></div>
    <div class="sec center">
      <a href="https://github.com/slavafisher"
        ><i class="fa fa-github" title="GitHub" target="blank"></i
      ></a>
      <a href="https://www.linkedin.com/in/yaroslav-rybak-785555217/"
        ><i class="fa fa-linkedin" title="LinkedIn" target="blank"></i
      ></a>
      <a href="https://www.instagram.com/callmedolorous/"
        ><i class="fa fa-instagram" title="Instagram" target="blank"></i
      ></a>
    </div>
    <div class="sec left"></div>
  </div>
</footer>
